# Ignore all logfiles and tempfiles.
.DS_Store
.bin
.bundleignore
.byebug_history
.rspec
tmp
log
test
config/deploy
public/packs
public/packs-test
yarn-error.log
coverage/

# Ignore node_modules
/node_modules/*

# Ignore bundler config.
/.bundle

# Ignore the tags file used by VIM
tags

# Ignore Byebug command history file.
.byebug_history

# Ignore .git as it's not needed with the docker built.
.git
.gitignore
.cache
.env.development
